<!DOCTYPE html>
<html>

<head>
    <title>
        Email Spam Classifier
    </title>
    <style> 

        body{ text-align: center;}
        button{background-color: blue; 
                color: white;
                width: 10%;
                height: 50px;}

    </style>

</head>

<body>
    <h1>Email Spam Classifier</h1>
    <div>
        <form method="post" action="/predict">
            <textarea rows="30" cols="100" name="content" placeholder="Type or paste your email here" autocomplete="off">{{ email_text }}</textarea>
            <div>
                <button type="submit">
                    Submit 
                </button>

                
                <font size="10"> <a href="/">Reset</ a> 

            </div>
        </form>

        {% if prediction ==1 %}
            <h2 style="color: red;"> SPAM </h2>
        {% elif prediction == -1 %}
            <h2 style="color: green;"> NOT SPAM </h2>
        {% endif %}

    </div>
</body>

</html>